@import "../../../index.scss";

.headerContainer {
  width: -webkit-fill-available;
  height: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: $home-background-color;
  z-index: 2;

  a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  h4 {
    color: $header-background;
    margin: 0px;
    width: fit-content;
    display: inline-flex;
    margin-left: 10px;
  }

  .multiFormHeaderButtons {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}