@import "../../index.scss";

.formDatePicker {
  margin-top: 20px !important;
  width: -webkit-fill-available;

  label {
    font-family: 'Poppins', monospace !important;
    color: $label-color-default !important;
    font-size: 1rem !important;
    opacity: 0.85;
  }

  legend {
    font-size: 0.85rem !important;
  }

  input {
    padding: 16px !important;
    color: $text-color-default !important;
    font-family: 'Poppins', monospace !important;
    font-size: 1rem !important;
  }

  fieldset {
    border: 1px solid $border-color-default !important;
  }
}